body {
    margin: 0;
    color: #c5c8c6;
}
body,
body > center > table {
    background-color: #1b1c1e;
}

body,
.pagetop,
.title,
.subtext,
.comhead,
input,
textarea {
    font: 500 16px/20px "Helvetica Neue", Arial, Helvetica, Sans-Serif;
    resize: none;
    color: #c5c8c6;
}

input, textarea{
    background-color: #515151;
    border: none;
    border-radius: 5px;
}

.title,
.votelinks {
    padding-top: 25px;
    vertical-align: bottom;
}

.hnHomepage {
    padding-bottom: 0;
    border: 0;
}

.morelink {
    cursor: pointer;
    background: #4f4f4f;
    padding: 15px 0;
    display: block;
    text-align: center;
}

.spacer,
.morespace {
    height: 0;
    visibility: hidden;
}

input,
textarea {
    box-sizing: border-box;
    outline: 0;
}
font[color="#000000"] {
    color: #c5c8c6;
}

.sitebit > a > span {
    font-size: small;
    color: #ee6218;
}

body a,
.pagetop a,
.title a,
.subtext a,
.comhead a,
input a,
textarea a,
body a:link,
.pagetop a:link,
.title a:link,
.subtext a:link,
.comhead a:link,
input a:link,
textarea a:link {
    text-decoration: none;
    -webkit-transition: color 0.4s;
    color: #c5c8c6;
    font-weight: bold;
}
body a:visited,
.pagetop a:visited,
.title a:visited,
.subtext a:visited,
.comhead a:visited,
input a:visited,
textarea a:visited,
body a:link:visited,
.pagetop a:link:visited,
.title a:link:visited,
.subtext a:link:visited,
.comhead a:link:visited,
input a:link:visited,
textarea a:link:visited {
    color: #919693;
    -webkit-transition: color 0.4s;
}
body a:hover,
.pagetop a:hover,
.title a:hover,
.subtext a:hover,
.comhead a:hover,
input a:hover,
textarea a:hover,
body a:link:hover,
.pagetop a:link:hover,
.title a:link:hover,
.subtext a:link:hover,
.comhead a:link:hover,
input a:link:hover,
textarea a:link:hover {
    color: #dfe1e0;
    text-decoration: none;
}

.comhead {
    font-size: 16px;
    font-weight: 400;
}
.subtext {
    font-size: 12px;
    font-weight: 400;
}

.title a {
    color: #c5c8c6;
}
.title a:visited {
    color: #c5c8c6;
}
.comhead,
.subtext {
    color: #c5c8c6;
}
.comhead a {
    color: #8abeb7;
}
.comhead a:nth-child(2) {
    color: #f0c674;
}
.comhead a.op {
    color: #ee6218;
}

.subtext span {
    margin-left: .5rem;
    color: #b5bd68;
}

.subtext a,
.subtext a font {
    color: #b294bb;
}

.subtext a:nth-child(2),
.subtext a font:nth-child(2) {
    color: #8abeb7;
}

.subtext a.op,
.subtext a font.op {
    color: #ee6218;
}

/*Main table*/
#bigbox > td > table {
    width: 80%;
    margin: 0 auto;
}

input[type=submit] {
    background: #f60;
    border-radius: 3px;
    padding: 10px 30px;
    float: right;
    font-weight: 600;
}

#bigbox > td:nth-child(1) > table:nth-child(1) {
    border-collapse: collapse;
}

.athing {
    border-top: 2px solid #4f4f4f;
}

.title {
    padding-left: 15px;
}

.hnHomepage {
    padding-bottom: 15px;
}

.comment-tree {
    border-collapse: separate;
    border-spacing: 0 1em;
}

td.ind {
    height: 100%;
}

.commtext,
.commtext a:link {
    color: #c5c8c6;
}

.comment {
    font-size: large;
}

.comment-page .comment,
.threads-page .comment {
    display: inline-block;
    width: 100%;
    line-height: 1.5;
}

.comment-page .comment p > a,
.threads-page .comment p > a {
    color: #81a2be;
}

.comment-page .comment font,
.threads-page .comment font {
    color: #c5c8c6;
}

.comment-page .comment font > a,
.threads-page .comment font > a {
    color: #81a2be;
}

body.home-page .admin,
.admin td {
    font: 500 16px/20px "Helvetica Neue", Arial, Helvetica, Sans-Serif;
    color: #c5c8c6;
}

body pre {
    max-width: 100%;
    width: auto;
    background: #282a2e;
    padding: 10px 0;
}

.headerBar {
    width: 80%;
    background-color: #282a2e;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-left: 20px;
    margin-right: 20px;
}

.headerBar > div {
    color: #c5c8c6;
}

.headerBar > div:hover {
    background-color: #969896;
}

.headerBar > div > a:visited {
    color: #c5c8c6;
}

.orange {
    background-color: #ee6218;
}

.titleItem {
    height: 100%;
}

.titleItem > a {
    display: inline-block;
    padding: 10px;
}

